# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
models/__pycache__/
models/**/__pycache__/
tests/__pycache__/
tests/**/__pycache__/
objects.json
*.json
test_params_create
venv/
main_delete.py
*.txt

# C extensions
*.so
